.search-bar {
  margin-top: 20px;
  text-align: center;
}

.form-control {
  text-align: left;
  width: 60%;
  align-items: center;
}

/* .form-control {
  background-color: black;
  color: white;
} */
