html,
body,
header {
  height: 100%;
  background-image: url("../public/imgs/music-library-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  max-height: 100%;
}

.App {
  text-align: center;
}

.container-fluid {
  /* background-image: url("../public/imgs/music-library-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  max-height: 100%; */
}

.box {
  /* max-width: 650px;
  position: relative;
  display: block;
  top: 50%;
  left: 50%; */
}
